.site{
width: 100.00%;
max-height:100px;
}
.header{
   position: relative;
   left: 0.00%;
   width: 100.00%;
   height: 40px;
   padding: 10px;
   background-image:url('images/header.png');
}
.wrapper{
   position: relative;
   float: left;
   left: 0.00%;
   width: 25.00%;
   padding: 0px;
   background-color: #cccccc
}
.logo{
   position: absolute;
   float: left;
   left: 0.00%;
   height: 60px;
   width: 226px;
   background-image:url('images/logo.png');
}
.menu{
   position: absolute;
   float: right;
   right: 30px;
}
#map-id{
   position: relative;
   float: left;
   width: 75%;
   background-color: #ccccff
}
.footer{
   position: relative;
   float: left;
   left: 0.00%;
   width: 100.00%;
   height: 25px;
   background-image:url('images/header.png');   
}

body {
   border-width: 0px;
   padding: 0px;
   margin: 0px;
   width: 100%;
   font-size: 90%;
   background-color: #000;
}

